

@keyframes example {
    0%   {color:red; left:40%; }
    
    50% {color:blue; left:50%; } 
    100% {color:red; left:40%; }
}
#titre{
 
   position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

body{
background-color: yellow;

}

img{
	width: 300px;
	height: 200px;
	top: 20%;
	border : solid 10px #ffffff;
	position: absolute;
	border-radius: 5px 45px ;
}
#img1 {
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, .7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
   z-index: 2;
   left :30px;


}
#img1:hover,#img2:hover,#img3:hover {
 
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
   z-index: 2;
	border-radius: 50%;
	border : solid 10px #ababab;
	width: 400px;
	height: 400px;
	left:25%;
	position: relative;

}
#img2 {
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, .7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);0
  -o-transform: rotate(6deg);
   z-index: 1;
   left :340px;


}
#img3 {
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, .7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
   z-index: -1;
   left :650px;


}